body{
    background-color: lightgray;
}


.save_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs{
    width: 120%;
    margin-bottom: 10px;
    height: 25px;
}
.sbtn{
    width: 60%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}
.sbtn:hover{
    background-color: indianred;
    color: #ffffff;
    border-radius: 5px;

}
.vlink{
    width: 50%;
    margin-right: 35%;
    margin-left:35% ;
    text-decoration: none;
    color: indianred;
}
.adlink{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.